
.categories_container{
  border-radius: 40px;
  background: #f0f0f0;
  padding: 70px 64px 76px;
  margin-bottom: 80px;
  @media (max-width: 1300px) {
    padding-inline: 24px;
  }
  @media (max-width: 1250px) {
    padding-bottom: 24px;
    padding-top: 40px;
  }

  h2{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #000;
    margin-bottom: 64px;

    @media (max-width: 1250px) {
      margin-bottom: 30px;
    }

    @media (max-width: 500px) {
      font-size: 32px;
      line-height: 113%;
    }
  }
  .categories_box{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    .categoryBoxSmall{
      border-radius: 20px;
      max-width: 407px;
      width: 100%;
      height: 289px;
      background: #fff;
      padding: 25px 25px 25px 36px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      animation: fadeIn 1.5s ease-out forwards;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right -20px bottom -30px;
      transition: background-image 0.8s ease-in-out;

      @media (max-width: 1200px) {
        max-width: 684px;
      }

    }
    .categoryBoxBig{
      border-radius: 20px;
      max-width: 684px;
      width: 100%;
      height: 289px;
      background: #fff;
      padding: 25px 25px 25px 36px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      animation: fadeIn 1.5s ease-out forwards;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right -20px bottom -30px;
      transition: background-image 0.8s ease-in-out;
    }

    .categoryHomeName{
      font-weight: 400;
      font-size: 36px;
      color: #000;
      animation: textFade 1.5s ease-in-out forwards;
    }

    @keyframes textFade {
      from {
        opacity: 0;
        transform: translateY(5px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}