
.categories_container{
  border-radius: 40px;
  background: #f0f0f0;
  padding: 70px 64px 76px;
  margin-bottom: 80px;

  h2{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #000;
    margin-bottom: 64px;
  }
  .categories_box{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .categoryBoxSmall{
      border-radius: 20px;
      width: 407px;
      height: 289px;
      background: #fff;
      padding: 25px 25px 25px 36px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      animation: fadeIn 1.5s ease-out forwards;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right -20px bottom -30px;
      transition: background-image 0.8s ease-in-out;

    }
    .categoryBoxBig{
      border-radius: 20px;
      width: 684px;
      height: 289px;
      background: #fff;
      padding: 25px 25px 25px 36px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      animation: fadeIn 1.5s ease-out forwards;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right -20px bottom -30px;
      transition: background-image 0.8s ease-in-out;
    }

    .categoryHomeName{
      font-weight: 400;
      font-size: 36px;
      color: #000;
      animation: textFade 1.5s ease-in-out forwards;
    }

    @keyframes textFade {
      from {
        opacity: 0;
        transform: translateY(5px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}