
.shop_button {
  position: relative;
  text-transform: none;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 12px;
    height: 7px;
    background-image: url("@assets/header/shopArrow.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: transform 0.2s ease;
    pointer-events: none;
  }

  &.active::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.shop_category_list {

  .MuiPaper-root {
    max-height: 360px;
    overflow-y: scroll !important;

    &::-webkit-scrollbar {
      width: 6px;
      display: block;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .category_item{
    font-weight: 500;
    font-size: 16px;
    line-height: 250%;
    @media (max-width: 899px) {
     font-size: 24px;
    }
  }
}

