
.newArrivals_container{
  margin-bottom: 64px;

  h2{
    text-align: center;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 48px;
    color: #000;
  }

  .newArrivals_Box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 36px;
  }

  .newArrivals_Button{
    width: 218px;
    height: 52px;
    border: 1px solid #F2F0F1;
    border-radius: 62px;
    background-color: #fff;
    display: block;
    margin: 0 auto 64px ;
  }

  .newArrivals_line{
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
  }
}

