.cartPage_container_productList {
  padding: 20px 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  align-self: start;
}
.cartPage_container_productList .cartPage_productList_empty {
  text-align: center;
  padding: 50px 20px;
}
.cartPage_container_productList .cartPage_productList_empty p {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.cartPage_container_productList .cartPage_productList_empty .cartPage_return_btn {
  border-radius: 62px;
  padding: 12px 16px;
  margin: 0 auto;
  max-width: 50%;
  min-width: 250px;
  background: #000;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: none;
  display: block;
  text-transform: none !important;
}
.cartPage_container_productList .cartPage_productList_empty .cartPage_return_btn:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.8);
}
.cartPage_container_productList .cartPage_productList_empty .cartPage_return_btn:active:not(:disabled) {
  background-color: #ccc;
  transform: scale(0.98);
}
.cartPage_container_productList .cart_item_row {
  display: grid;
  grid-template-columns: 124px auto;
  gap: 24px 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 24px;
  position: relative;
}
.cartPage_container_productList .cart_item_row:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.cartPage_container_productList .cart_item_row a {
  transition: opacity 0.3s ease;
}
.cartPage_container_productList .cart_item_row a:hover {
  opacity: 0.7;
}
.cartPage_container_productList .cart_item_row img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 9px;
  background: #f0eeed;
}
.cartPage_container_productList .cart_item_row .cart_item_description {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_title h4 {
  font-weight: 700;
  font-size: clamp(16px, 2.5vw + 1rem, 20px);
  color: #000;
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_title .cart_item_description_basket {
  display: block;
}
@media (max-width: 599px) {
  .cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_title .cart_item_description_basket {
    display: none;
  }
}
.cartPage_container_productList .cart_item_row .cart_item_description p {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  font-style: italic;
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_row {
  display: flex;
  justify-content: start;
}
@media (max-width: 599px) {
  .cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_row {
    justify-content: space-between;
  }
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_row span:last-of-type {
  margin-left: 10px;
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_bottom .cart_item_description_row {
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
}
@media (max-width: 599px) {
  .cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_bottom .cart_item_description_row {
    justify-content: space-between;
  }
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_bottom .cart_item_description_row .item_description_subtotal {
  font-size: clamp(20px, 2.5vw + 1rem, 24px);
  font-weight: 700;
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_bottom .cartPage_productList_quantitySelector {
  display: block;
}
@media (max-width: 599px) {
  .cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_bottom .cartPage_productList_quantitySelector {
    display: none;
  }
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_bottom .cartPage_productList_quantitySelector .productDetailPage_button_minus,
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_bottom .cartPage_productList_quantitySelector .productDetailPage_button_plus {
  height: 44px;
  width: 48px;
}
.cartPage_container_productList .cart_item_row .cart_item_description .cart_item_description_bottom .cartPage_productList_quantitySelector .productDetailPage_amount {
  height: 44px;
  font-size: 14px;
  padding: 0 8px;
  width: 30px;
}
.cartPage_container_productList .cart_item_row .cartPage_quantitySelector_bottom {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
  padding-left: 10px;
  align-items: center;
}
.cartPage_container_productList .cart_item_row .cartPage_quantitySelector_bottom .productDetailPage_button_minus,
.cartPage_container_productList .cart_item_row .cartPage_quantitySelector_bottom .productDetailPage_button_plus {
  height: 44px;
  width: 48px;
}
@media (max-width: 600px) {
  .cartPage_container_productList .cart_item_row .cartPage_quantitySelector_bottom .productDetailPage_button_minus,
  .cartPage_container_productList .cart_item_row .cartPage_quantitySelector_bottom .productDetailPage_button_plus {
    height: 31px;
    width: 36px;
  }
}
.cartPage_container_productList .cart_item_row .cartPage_quantitySelector_bottom .productDetailPage_button_minus svg,
.cartPage_container_productList .cart_item_row .cartPage_quantitySelector_bottom .productDetailPage_button_plus svg {
  font-size: 14px;
}
.cartPage_container_productList .cart_item_row .cartPage_quantitySelector_bottom .productDetailPage_amount {
  height: 44px;
  font-size: 14px;
  padding: 0 8px;
  width: 30px;
}
@media (max-width: 600px) {
  .cartPage_container_productList .cart_item_row .cartPage_quantitySelector_bottom .productDetailPage_amount {
    height: 31px;
  }
}
@media (min-width: 600px) {
  .cartPage_container_productList .cart_item_row .cartPage_quantitySelector_bottom {
    display: none;
  }
}

/*# sourceMappingURL=CartPageProductList.css.map */
