
.productDetailPage_path{
  margin: 24px 0 ;
}

.productDetailPage_container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 80px;

  .productDetail_pictures{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 14px;


    .productDetail_pictures_left{
      display: flex;
      flex-direction: column;
      gap: 14px;
      max-height: 530px;
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 6px;

      &.has-scroll {
        padding-right: 28px;
      }

      &::-webkit-scrollbar {
        width: 6px;
        display: block;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      .productDetail_pictures_preview{
        border-radius: 20px;
        width: 152px;
        min-width: 152px;
        height: 167px;
        flex-shrink: 0;
        background-color: #f0eeed;
        cursor: pointer;
        object-fit: contain;
        border: 2px solid transparent;
        transition: 0.3s;

        &.active {
          border-color: #000;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .productDetail_pictures_right{
      border-radius: 20px;
      max-width: 444px;
      width: 100%;
      height: 530px;
      background-color: #f0eeed;
      object-fit: contain;
    }
  }

  .productDetail_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h2{
      font-weight: 700;
      font-size: 40px;
      color: #000;
    }

    .productDetail_brand {
      font-weight: 700;
      font-size: 25px;
      color: #333;
    }

    .productRating_box {
      display: flex;
      align-items: center;
      gap: 16px;

      .productCard_rating{
        font-weight: 400;
        font-size: 16px;
        color: #000;
        display: inline-flex;
        align-items: center;
      }
    }

    .productDetail_description{
      font-weight: 400;
      font-size: 16px;
      line-height: 138%;
      color: rgba(0, 0, 0, 0.6);
      margin: 24px 0;
    }

    .productDetailPage_status_block{
      padding-left: 20px;

    }
    .productDetailPage_status{
      font-weight: 700;
      font-size: 20px;
      margin-left: 10px;
    }

    .productDetailPage_buttons_block{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .productDetailPage_button_addToCart{
        border-radius: 62px;
        border: none;
        padding: 16px 54px;
        width: 400px;
        height: 52px;
        background: #000;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        text-transform: none !important;
        transition: background-color 0.1s;

        &:hover:not(:disabled) {
          background-color: rgba(0, 0, 0, 0.8);
        }

        &:active:not(:disabled) {
          background-color: #ccc;
          transform: scale(0.98);
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }
}

.productDetailPage_productTabs{
  .productTabs_titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 140px;

    button{
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;
      color: rgba(0, 0, 0, 0.6);
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      outline: none;
      width: 160px;

      &.product_tab_bold{
        font-weight: 500;
        color: #000;
      }
    }
  }

  .section_line{
    position: relative;

    .productTabs_line{
      position: absolute;
      border: 2px solid #000;
      width: 414px;
      top: 50%;
      transition: all 0.3s ease;

      &_left { transform: translate(0%, -50%); }
      &_center { transform: translate(100%, -50%); }
      &_right { transform: translate(200%, -50%); }
    }
  }
  .productTabs_container{
    margin: 32px 0 64px;
  }
}


.productDetailPage_otherProducts{
  margin-bottom: 168px;

  .otherProducts_AllProducts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 230px;
    margin: 64px auto 0;
    height: 52px;
    padding: 0 54px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    background: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #F0F0F0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

