.productRating_box{
  display: flex;
  align-items: center;
  gap:13px
}

.productCard_stars{
  display: inline-flex;
  align-items: center;
  gap:5px;
  flex-wrap: nowrap;

  img{
    width: 18px;
    height: 18px;
    display: block;
    margin: 0;
    padding: 0;
  }
  .half-star {
    width: 9px;
    height: 18px;
    margin-right: 9px;
  }
}

