

.productDetailPage_link{
  text-decoration: none;
  color: inherit;
  display: block;
  width: 295px;

  .productCard_title{
    font-weight: 700;
    font-size: 20px;
    color: #000;
  }

  .productRating_box{
    display: flex;
    align-items: center;
    gap:13px;
    margin-bottom: 8px;

    .productCard_rating{
      font-weight: 400;
      font-size: 14px;
      color: #000;
      display: inline-flex;
      align-items: center;
    }
  }

  .MuiCardContent-root{
    padding: 0;
  }
}
