*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  padding-top: 96px;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}