.hero {
  background-color: #F2F0F1;
  padding-bottom: 116px;

  .heroContainer{
    display: flex;
    justify-content: space-between;

    .hero_left{
      max-width: 577px;
      width: 100%;

      h1{
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        color: #000;
        padding-top: 103px;
        margin-bottom: 32px;
      }

      .hero_left_description{
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 138%;
        color: rgba(0, 0, 0, 0.6);
        max-width: 545px;
        width: 100%;
        min-height: 50px;
      }

      button{
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        background: #000;
        border-radius: 62px;
        padding: 16px 54px;
        width: 210px;
        height: 52px;
        border: none;
        margin-bottom: 48px;

        &:hover:not(:disabled) {
          background-color: rgba(0, 0, 0, 0.8);
        }

        &:active:not(:disabled) {
          background-color: #ccc;
          transform: scale(0.98);
        }
      }

      .hero_left_bottom{
        display: flex;
        justify-content: space-between;

        .hero_left_info{
          position: relative;
          height: 74px;

          &:nth-of-type(1),
          &:nth-of-type(2){
            &:after{
              content: "";
              display: block;
              width: 0;
              height: 74px;
              border: 1px solid rgba(0, 0, 0, 0.1);
              position: absolute;
              right: -32px;
              bottom: 6px;
            }
          }

          h3{
            font-weight: 700;
            font-size: 40px;
            color: #000;
          }
          span{
            font-weight: 400;
            font-size: 16px;
            line-height: 138%;
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }

    .hero_right{
      width: 50%;
      position: relative;
      display: flex;
      align-items: flex-end;

      .hero_img1 {
        //width: 100%;
        //height: 100%;
        //object-fit: cover;

        width: 100%;
        //height: auto;
        //transform: translateY(10%);

        //display: block;
        position: absolute;
        bottom: -300px;
        right: -100px;
      }
      .hero_img2 {
        width: 50%;
        height: auto;
        position: absolute;
        top: 40px;
        left: 50%;
        //transform: translateX(-50%);
        transform: rotate(20deg);
      }
      .hero_img3 {
        width: 50%;
        height: auto;
        position: absolute;
        top: -50px;
        left: 0;
        transform: rotate(-30deg);
      }
      .hero_img4 {
        width: 15%;
        height: auto;
        position: absolute;
        bottom: 90px;
        left: 20px;
        transform: rotate(-20deg);
      }
    }
  }
}