

.cartPage_title{
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin-bottom: 24px;
}

.cartPage_container{
  margin-bottom: 170px;
  width: 100%;
  height: 200px;
  background-color: #ff3333;
}