
.cartPage_title{
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin-bottom: 24px;
}

.cartPage_container{
  margin-bottom: 170px;
  width: 100%;
  display: grid;
  grid-template-columns:  7fr 5fr;
  gap: 20px;


  .cartPage_container_productList{
    padding: 20px 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-self: start;

    .cartPage_productList_empty{
      text-align: center;

      p{
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        color: #000;
      }
      button{
        border-radius: 62px;
        padding: 12px 16px;
        width: 50%;
        height: 48px;
        background: #000;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        border: none;

        &:hover:not(:disabled) {
          background-color: rgba(0, 0, 0, 0.8);
        }

        &:active:not(:disabled) {
          background-color: #ccc;
          transform: scale(0.98);
        }
      }
    }





    .cart_item_row{
      display: grid;
      grid-template-columns:  124px auto 126px;
      gap: 16px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 24px;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      a{
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.7;
        }
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 9px;
        background: #f0eeed;
      }

      .cart_item_description{
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4{
          font-weight: 700;
          font-size: 20px;
          color: #000;
        }
        p{
          font-weight: 500;
          font-size: 16px;
          color: #000;
          font-style: italic;
        }
        span{
          &:last-of-type {
            font-size: 20px;
          }
        }
        .item_description_subtotal{
          font-weight: 700;
        }
      }

      .cartPage_productList_right{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .MuiIconButton-root{
          &:hover{
            background-color: rgba(255, 51, 51, 0.1);
          }
        }

        .productDetailPage_button_minus,
        .productDetailPage_button_plus {
          padding: 12px 20px;
          height: 44px;
          width: 48px;

          svg {
            font-size: 14px
          }
        }

        .productDetailPage_amount {
          height: 44px;
          font-size: 14px;
          padding: 0 8px;
          width: 30px;
        }

        .cartPage_productList_quantitySelector{
          width: 100%;
        }
      }
    }
  }


  .cartPage_container_summary{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px 24px;
    align-self: start;
    //grid-column: 1 / -1;

    h3{
      font-weight: 700;
      font-size: 24px;
      color: #000;
      margin-bottom: 24px;
    }

    .summary_result{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 20px;

      &:last-of-type{
        span{
          font-weight: 700;
          font-size: 24px;
          text-align: right;
          color: #000;
        }
      }

      span{
        font-weight: 700;
        font-size: 20px;
        text-align: right;
        color: #000;
      }
      .summary_attention{
        color: #f33;
      }
    }

    .summary_result_line{
      margin-top: 20px;
    }

    .taxConditions{
      margin-bottom: 30px;
    }

    .cartPage_promo{
      display: grid;
      grid-template-columns:  3fr 1fr;
      gap: 12px;
      margin-bottom: 20px;

      .promo_input_wrapper{
        position: relative;
        img{
          position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 21px;
            height: 21px;
            z-index: 2;
        }

        input{
          width: 100%;
          border-radius: 62px;
          height: 48px;
          background: #f0f0f0;
          border: none;
          padding: 12px 16px 12px 52px;

          &:disabled {
            opacity: 0.5;
          }
        }
      }
      button{
        border-radius: 62px;
        padding: 12px 16px;
        width: 119px;
        height: 48px;
        background: #000;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        border: none;

        &:hover:not(:disabled) {
          background-color: rgba(0, 0, 0, 0.8);
        }

        &:active:not(:disabled) {
          background-color: #ccc;
          transform: scale(0.98);
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
   .cartPage_checkout{
     border-radius: 62px;
     padding: 16px 54px;
     width: 100%;
     height: 60px;
     background: #000;
     font-weight: 500;
     font-size: 16px;
     color: #fff;
     position: relative;
     border: none;

     &:hover:not(:disabled) {
       background-color: rgba(0, 0, 0, 0.8);
     }

     &:active:not(:disabled) {
       background-color: #ccc;
       transform: scale(0.98);
     }

     &:disabled {
       cursor: not-allowed;
       opacity: 0.5;
     }

     img{
       position: absolute;
       width: 24px;
       height: 24px;
       transform: translateY(-50%);
       z-index: 2;
       right: 130px;
       top: 50%;
     }
   }
  }
}





