
.header{
  background-color: #ffffff  !important; ;

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_container_left{
      display: flex;
      justify-content: start;
      align-items: center;

      a:focus {
        outline: none;
      }
    }

    .header_container_right{
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: end;
    }
  }
}









