
.productDetails_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 25px;

  .productDetails_dimensions_wrapper{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 32px;
    width: 100%;

    h5{
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 20px;
      line-height: 110%;
    }
    p{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 20px;
      line-height: 110%;
      color: rgba(0, 0, 0, 0.6);
      span{
        color: #000;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
}