.reviews{
  margin-bottom: 170px;
  .reviews_container{
    h2{
      font-weight: 700;
      font-size: 48px;
      color: #000;
      margin-bottom: 40px;
    }
  }
}


//.reviews_slider .swiper-button-prev,
//.reviews_slider .swiper-button-next {
//  top: -60px !important;
//  transform: none !important;
//}
//
//.reviews_slider .swiper-button-next {
//  right: 0 !important;
//}
//
//.reviews_slider .swiper-button-prev {
//  right: 60px !important;
//  left: auto !important;
//}