.brandsList{
  background-color: #000000;
  margin-bottom: 72px;

  .brandsList_container{
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
      color: #fff;
    }
  }
}