
.cartPage_container_summary{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 24px;
  align-self: start;

  h3{
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-bottom: 24px;
  }

  .summary_result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;

    &:last-of-type{
      span{
        font-weight: 700;
        font-size: 24px;
        text-align: right;
        color: #000;
      }
    }

    span{
      font-weight: 700;
      font-size: 20px;
      text-align: right;
      color: #000;
    }
    .summary_attention{
      color: #f33;
    }
  }

  .summary_result_line{
    margin-top: 20px;
  }

  .taxConditions{
    margin-bottom: 30px;
  }

  .cartPage_promo{
    display: grid;
    grid-template-columns:  3fr 1fr;
    gap: 12px;
    margin-bottom: 20px;

    .promo_input_wrapper{
      position: relative;
      img{
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 21px;
        height: 21px;
        z-index: 2;
      }

      input{
        width: 100%;
        border-radius: 62px;
        height: 48px;
        background: #f0f0f0;
        border: none;
        padding: 12px 12px 12px 50px;

        &:disabled {
          opacity: 0.5;
        }
      }
    }
    button{
      border-radius: 62px;
      padding: 12px 16px;
      min-width: 70px;
      height: 48px;
      background: #000;
      font-weight: 500;
      font-size: 16px;
      color: #fff;
      border: none;
      text-transform: none !important;

      &:hover:not(:disabled) {
        background-color: rgba(0, 0, 0, 0.8);
      }

      &:active:not(:disabled) {
        background-color: #ccc;
        transform: scale(0.98);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  .checkoutError{
    color: #ff3333;
    text-align: center;
    margin-bottom: 10px;
  }


  .cartPage_checkout{
    display: flex;
    justify-content: center;
    border-radius: 62px;
    padding: 16px 16px;
    width: 100%;
    gap: 12px;
    height: 60px;
    background: #000;
    border: none;
    text-transform: none !important;

    &:hover:not(:disabled) {
      background-color: rgba(0, 0, 0, 0.8);
    }

    &:active:not(:disabled) {
      background-color: #ccc;
      transform: scale(0.98);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      color: #fff !important;
    }
      span{
        font-weight: 500;
        font-size: 16px;
        color: #fff;
      }

      img{
        width: 24px;
        height: 24px;
      }
  }
}