.cartPage_container_summary {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 24px;
  align-self: start;
}
.cartPage_container_summary h3 {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 24px;
}
.cartPage_container_summary .summary_result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}
.cartPage_container_summary .summary_result:last-of-type span {
  font-weight: 700;
  font-size: 24px;
  text-align: right;
  color: #000;
}
.cartPage_container_summary .summary_result span {
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  color: #000;
}
.cartPage_container_summary .summary_result .summary_attention {
  color: #f33;
}
.cartPage_container_summary .summary_result_line {
  margin-top: 20px;
}
.cartPage_container_summary .taxConditions {
  margin-bottom: 30px;
}
.cartPage_container_summary .cartPage_promo {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 12px;
  margin-bottom: 20px;
}
.cartPage_container_summary .cartPage_promo .promo_input_wrapper {
  position: relative;
}
.cartPage_container_summary .cartPage_promo .promo_input_wrapper img {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  z-index: 2;
}
.cartPage_container_summary .cartPage_promo .promo_input_wrapper input {
  width: 100%;
  border-radius: 62px;
  height: 48px;
  background: #f0f0f0;
  border: none;
  padding: 12px 12px 12px 50px;
}
.cartPage_container_summary .cartPage_promo .promo_input_wrapper input:disabled {
  opacity: 0.5;
}
.cartPage_container_summary .cartPage_promo button {
  border-radius: 62px;
  padding: 12px 16px;
  min-width: 70px;
  height: 48px;
  background: #000;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: none;
  text-transform: none !important;
}
.cartPage_container_summary .cartPage_promo button:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.8);
}
.cartPage_container_summary .cartPage_promo button:active:not(:disabled) {
  background-color: #ccc;
  transform: scale(0.98);
}
.cartPage_container_summary .cartPage_promo button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.cartPage_container_summary .checkoutError {
  color: #ff3333;
  text-align: center;
  margin-bottom: 10px;
}
.cartPage_container_summary .cartPage_checkout {
  display: flex;
  justify-content: center;
  border-radius: 62px;
  padding: 16px 16px;
  width: 100%;
  gap: 12px;
  height: 60px;
  background: #000;
  border: none;
  text-transform: none !important;
}
.cartPage_container_summary .cartPage_checkout:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.8);
}
.cartPage_container_summary .cartPage_checkout:active:not(:disabled) {
  background-color: #ccc;
  transform: scale(0.98);
}
.cartPage_container_summary .cartPage_checkout:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: #fff !important;
}
.cartPage_container_summary .cartPage_checkout span {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.cartPage_container_summary .cartPage_checkout img {
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=cartPageSummary.css.map */
