.productDetail_info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;

  h2{
    font-weight: 700;
    color: #000;
    font-size: clamp(24px, 2.5vw + 1rem, 40px);
  }

  .productDetail_brand {
    font-weight: 700;
    font-size: clamp(16px, 2.5vw + 1rem, 24px);
    color: #333;
  }

  .productRating_box {
    display: flex;
    align-items: center;
    gap: 16px;

    .productCard_rating{
      font-weight: 400;
      font-size: 16px;
      color: #000;
      display: inline-flex;
      align-items: center;
    }
  }

  .productDetail_description{
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: rgba(0, 0, 0, 0.6);
    margin: 24px 0;
  }

  .productDetailPage_status_block{
    padding-left: 20px;

  }
  .productDetailPage_status{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
  }

  .productDetailPage_buttons_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    @media (max-width: 1300px) {
      justify-content: start;
    }

    .productDetailPage_button_addToCart{
      border-radius: 62px;
      border: none;
      padding: 16px 0;
      max-width: 400px;
      width: 100%;
      height: 52px;
      background: #000;
      font-weight: 500;
      font-size: 16px;
      color: #fff;
      text-transform: none !important;
      transition: background-color 0.1s;
      flex: 1;
      @media (max-width: 500px) {
        height: 44px;
        font-size: 14px;
      }

      &:hover:not(:disabled) {
        background-color: rgba(0, 0, 0, 0.8);
      }

      &:active:not(:disabled) {
        background-color: #ccc;
        transform: scale(0.98);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}